<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debug.cmsis.launch">
    <stringAttribute key="CMSIS_DCORE" value="Cortex-M4"/>
    <stringAttribute key="CMSIS_EXE_FILE" value="${workspace_loc:/Lab_7/Debug/Lab_7.axf}"/>
    <booleanAttribute key="CMSIS_FLASHABLE" value="true"/>
    <mapAttribute key="CMSIS_FLASH_ALG_0_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_0_FILE" value="STM32F4xx_1024.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_IS_DEFAULT" value="true"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_REGION_SIZE" value="1048576"/>
        <mapEntry key="CMSIS_FLASH_ALG_0_REGION_START" value="134217728"/>
    </mapAttribute>
    <stringAttribute key="CMSIS_FLASH_ALG_0_ERASE_METHOD" value="SECTORS"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_FILE" value="STM32F4xx_1024.FLM"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_FILE_PATH" value=""/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_FORCE_PROGRAM" value="false"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_IS_DEFAULT" value="true"/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_PROGRAM" value="true"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_RAM_SIZE" value="131072"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_RAM_START" value="536870912"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_REGION_SIZE" value="1048576"/>
    <stringAttribute key="CMSIS_FLASH_ALG_0_REGION_START" value="134217728"/>
    <booleanAttribute key="CMSIS_FLASH_ALG_0_VERFIY" value="true"/>
    <mapAttribute key="CMSIS_FLASH_ALG_1_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_1_FILE" value="STM32F40xxx_41xxx_OPT.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_IS_DEFAULT" value="false"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_REGION_SIZE" value="4"/>
        <mapEntry key="CMSIS_FLASH_ALG_1_REGION_START" value="536854528"/>
    </mapAttribute>
    <mapAttribute key="CMSIS_FLASH_ALG_2_DEFAULTS">
        <mapEntry key="CMSIS_FLASH_ALG_2_FILE" value="STM32F4xx_OTP.FLM"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_IS_DEFAULT" value="false"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_RAM_SIZE" value="131072"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_RAM_START" value="536870912"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_REGION_SIZE" value="528"/>
        <mapEntry key="CMSIS_FLASH_ALG_2_REGION_START" value="536836096"/>
    </mapAttribute>
    <booleanAttribute key="CMSIS_LOAD_SYMBOLS_ONLY" value="false"/>
    <stringAttribute key="CMSIS_PACK_NAME" value="STM32F4xx_DFP_STM32F407VGTx"/>
    <stringAttribute key="CMSIS_PACK_VERSION" value="2.14.0"/>
    <stringAttribute key="CMSIS_PNAME" value=""/>
    <stringAttribute key="CMSIS_PRIMARY_FILE" value="${workspace_loc:/Lab_7/Debug/Lab_7.axf}"/>
    <stringAttribute key="CMSIS_PROJ" value="Lab_7"/>
    <stringAttribute key="CMSIS_PROJECT_EXECUTABLE" value="${workspace_loc:/Lab_7/Debug/Lab_7.axf}"/>
    <stringAttribute key="CMSIS_RESET_TYPE" value="reset.system"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <booleanAttribute key="SWD" value="true"/>
    <booleanAttribute key="SWJ" value="true"/>
    <stringAttribute key="config_db_connection_keys" value="FILES.SELECTED_DEBUG_OPEATION rvi_address connection_type CMSIS_PROJ"/>
    <stringAttribute key="config_db_connection_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_platform_name" value="STM32F4xx_DFP_STM32F407VGTx"/>
    <stringAttribute key="config_db_project_type" value="Bare Metal Debug"/>
    <stringAttribute key="config_db_project_type_id" value="BARE_METAL"/>
    <booleanAttribute key="connectOnly" value="false"/>
    <stringAttribute key="connection_type" value="DSTREAM"/>
    <booleanAttribute key="debugSequenceLogging" value="false"/>
    <stringAttribute key="dtsl_options_file" value=""/>
    <booleanAttribute key="holdReset" value="false"/>
    <intAttribute key="launch_configuration_version" value="3"/>
    <stringAttribute key="os_extension_id" value="com.arm.debug.os.rtx"/>
    <booleanAttribute key="preReset" value="false"/>
    <stringAttribute key="rvi_address" value=""/>
    <stringAttribute key="stopAtExpression" value="main"/>
</launchConfiguration>
